body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.jumbotron{
    background: linear-gradient(to blue, red , yellow);
    border-radius: 10000px!important;
}

.searchForm{
    height: 80px;
    font-size: 50px;
}

.searchBtn{
    height: 80px;
    width: 200px;
}

.btn {
    margin-left: 5px;
}
